//Colors Variable
$primaryColor: #ff6869;
$primaryColor_v2: #e93f3f;
$white: #FFFFFF;
$black: #000000;

$lightGrey: #dddddd;
$lightGrey_v1: #f5f5f5;
$lightGrey_v2: #f9f9f9;

$darkGrey_v1: #111111;
$darkGrey_v2: #222222;
$darkGrey_v3: #333333;
$darkGrey_v4: #444444;

$grey_v1: #999999;
$grey_v2: #888888;
$grey_v3: #777777;
$grey_v4: #666666;
$grey_v5: #555555;
