@import './mixins';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body { 
  background-color: $lightGrey_v1;
  font-size: 14px;
  font-weight: 400;
  // font-family: 'Open Sans', sans-serif !important;
  font-family: 'Inter', sans-serif;
}

table th{font-weight: 600;}
table td{padding: 10px 16px;}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #fff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
} 
.login-bx{
  min-width: 860px;
  max-width: 960px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  margin: auto;
  margin-top: 10%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
.popup-slide-image-container {
  width: 100%;
  height: auto;
  margin: 6px auto 24px auto;
  position: relative;
}
.popup-slide-image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  z-index: 200;
  position: relative;
  margin: auto;
}
.popup-slide-image-container:before {
  content: "";
  width: 96%;
  height: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  display: block;
  z-index: 99;
  position: absolute;
  top: 5px;
  left: 2%;
  opacity: 0.6;
}
.popup-slide-image-container:after {
  content: "";
  width: 92%;
  height: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  display: block;
  z-index: 99;
  position: absolute;
  top: 12px;
  left: 4%;
  opacity: 0.4;
}
.popup-slide-text {
  width: auto;
  margin: 48px 0;
}
.popup-slide-text h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.32px;
  font-weight: bold;
  background: linear-gradient(to bottom right, #ffffff, #775d5d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 40px;
}
.loging-left{
  background-color:#111111;
    color: #fff;
    padding: 24px 4%;
}
.loging-right{
  background-color:#dfe8eb;
    color: #232323;
    padding: 24px 4%;
    
}
.loging-right h4{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.loging-right p{text-align: center; margin-bottom: 20px;}
.login-form{padding: 0 10%;}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
  background: #fff !important;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root, .MuiButton-containedPrimary{
  -webkit-appearance: none;
    border-radius: 8px !important;
    text-transform:none !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #fff !important;
    background-color: #ef4747 !important;
    border: 1px solid #ef4747 !important;
    box-shadow: none !important;
    height: 42px;
}
.MuiMenuItem-root{font-size: 14px !important;}
 
 
.MuiCircularProgress-root{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
.sidebar-bx{max-width: 300px !important;}
.form-bx{padding: 30px 20px;}
.form-bx h3{
  font-weight: 700;
}
.form-bx .MuiInputLabel-formControl{background: #fff; padding-left: 10px; padding-right: 10px;}
.form-bx .MuiFormControl-root{
  margin-top: 20px;
}
.MuiDialogContent-root .form-bx{padding: 0;}
.MuiDialogContent-root .MuiPaper-elevation{box-shadow: none;}
.close-button{position: absolute !important; right: 10px; top: 10px;}
 


//New CSS
.form-control{
  font-size: 12px;
  padding: 10px 16px;
  height: auto;
}
.btn-primary{ 
  background-color: $primaryColor;
  color: $white;
  padding: 8px 16px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  @include borderRadius(4px);
  &:hover{
    background-color: $primaryColor_v2;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
}

.headingRow{
  margin-bottom: 20px;
  h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

.whiteContainer{
  background-color: $white;
  padding: 20px;
  @include boxShadow(0 0 10px rgba(0,0,0,0.05));
  @include borderRadius(4px);
}
.tableSearchFilter{
  input{
    width: 240px;
  }
}
.dataTable{
  font-size: 12px;
  thead {
    th{
      background-color: $lightGrey_v2;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      color: $grey_v4;
      padding: 12px;
      border-color: $lightGrey_v1;
    }
  }

  tbody{
    td{
      font-size: 12px;
      color: $grey_v4;
      padding: 12px 12px;
      border-color: $lightGrey_v1;
    }
  }
  tfoot{
    tr{
      td{
        border: none;
        font-size: 12px;
        p{
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }
}