@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.reportContainer{
    display: flex;
    .reportPDF{
        flex: 1;
        height: calc(100vh - 150px); 
        margin-right: 24px;
    }
    .reportDetailForm{
        width:300px;
        flex: 0 0 auto;
        .accBox {
            @include boxShadow(0 0 10px rgba(0, 0, 0, 0.05));
            margin-bottom: 20px;
        }
        [class*="css-1elwnq4-MuiPaper-root-MuiAccordion-root"]{
            @include boxShadow(none);
            margin: 0;
            border-bottom:rgba(0,0,0,0.07) solid 1px;
            &::before{
                display: none;
            }
            &:last-child{
                border: none;
            }
        }

    }
}

.repActionBtn{
    display: flex;
    justify-content: end;
    gap: 8px;
    [class*="btn"]{
        font-size: 12px;
        padding: 4px 12px;
    }
}